# Created by https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride



### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db


# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Wepback bundle
test/spec.js
