$res-width: 200px;
$res-pad: 10px;

$res-icon: 12px;
$res-icon-pad: 10px;



@import '../CKANGrid/grid.scss';
@import '../ChartSelect/styles.scss';

.treev {

	*, *::after, *::before {
		box-sizing: border-box;
	}

	display:flex;
	flex-direction:column;

	font-size:18px;

	overflow: auto;

	.treev-extras{
		min-height:127px;
	}
	
	.treev-title {
		margin: 10px $res-pad -10px $res-pad;
		min-height:34px;
		width:auto;
	}

	.treev-search {
		margin: 0px $res-pad 20px $res-pad;
		
		.treev-search-box {
			
		}
	}

	.treev-res-list {
		// Account for material search box automatic padding
		margin-top:-30px;
		min-height:min-content;

		display:flex;
		flex-direction:column;

	}

	
	.treev-res {
		padding-left: $res-pad;
		padding-right: $res-pad;
		display:flex;
		flex-direction:column;
		flex-wrap:wrap;
		width: 100%;
		font-size: 1em;
		line-height:1.4em;

		
		
		overflow:hidden;

		:hover {
			overflow:visible;
			position:relative;
		}
	}

	.treev-res-title {
		font-weight:bold;
		width: 100%;
		float: left;
		display: inline-block;
		overflow: hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
		cursor: pointer;
	}

	.treev-res-title__highlight {
		background-color:rgba(214, 198, 81, 0.25);
	}

	.treev-res-type-icon {
		display: inline-block;
		width: $res-icon;
		height: $res-icon;
		
		
		
		fill:#aaa;
		
	}

	.treev-res > .treev-res {
		font-size:$res-icon;
		padding-left:(2* $res-pad);
		flex-direction:row;
		flex-wrap:nowrap;
		margin-top: 2px;
  		margin-bottom: 2px;

		.treev-res-title {
			font-weight:normal;
			padding-left:5px;
			width: auto;
			border-radius:5px;
		}
		.treev-res-type{
			min-width:16px;
		}
	}

	
}
.react-resizable-handle.react-draggable {
		position: absolute;
		width: 30px;
		height: 30px;
		bottom: 0;
		right: 0;
		background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
		background-position: bottom right;
		padding: 0 5px 5px 0;
		background-repeat: no-repeat;
		background-origin: content-box;
		box-sizing: border-box;
		cursor: se-resize;
		  /* Since this handle is absolutely positioned, we don't want the
		  draggable transforms to actually move it */
		  transform: none !important;
		  -webkit-transform: none !important;
		  -ms-transform: none !important;
		  -o-transform: none !important;
		  -moz-transform: none !important;
	}