$res-width: 200px;
$res-pad: 10px;

$res-icon: 12px;
$res-icon-pad: 10px;

// TODO: Convert .tree-view and tree-view-resource to use flexbox

.tree-view {
	width: $res-width;
	font-size:18px;
	min-height: 0px;
	
	.tree-view-title {
		margin: 10px $res-pad -20px $res-pad;
	}

	.tree-view-search {
		margin: 5px $res-pad 20px $res-pad;
		width: $res-width - 3 * $res-pad;
	
		.tree-view-search-box {
			width: $res-width - 3 * $res-pad;
		}
	}

	.tree-view-resource-list {
		// Account for material search box automatic padding
		margin-top:-30px;
		  overflow-y: scroll;
  overflow-x: hidden;
	}

	
	.tree-view-resource {
		padding-left: $res-pad;
		padding-right: $res-pad;
		display:block;
		width: 100%;
		font-size: 1em;
		line-height:1.4em;

		clear:both;
		
		overflow:hidden;

		:hover {
			overflow:visible;
			position:relative;
		}
	}

	.tree-view-resource-title {
		font-weight:bold;
		width: 100%;
		float: left;
		display: inline-block;
		overflow: hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
	}

	.tree-view-resource-type-icon {
		display: inline-block;
		width: $res-icon;
		height: $res-icon;
		padding-right:$res-icon-pad;
		padding-top:5px;
		float:left;
		
		fill:#aaa;
		
	}

	.tree-view-resource > .tree-view-resource {
		font-size: 0.9em;
		padding-left:(2* $res-pad);
		

		.tree-view-resource-title {
			font-weight:normal;
			width: $res-width - (2* $res-pad) - $res-icon - $res-icon-pad - 15px;
		}
	}

.react-resizable-handle.react-draggable {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
  /* Since this handle is absolutely positioned, we don't want the
     draggable transforms to actually move it */
  transform: none !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
}
}