.cht-sel {

	.cht-sel-carousel-type {
		width: 50px;
		text-align:center;
	}

	.cht-sel-option > * {
		padding:0;
		margin:0;
		margin-left:15px;
	}
	.cht-sel-option-title{
		width: 100%;
		margin-bottom: 5px;
		margin-left:0px;
	}
}